name: Build UF2 Firmware

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install Toolchain
      run: |
        sudo apt update
        sudo apt install -y cmake gcc-arm-none-eabi libnewlib-arm-none-eabi build-essential

    - name: Clone Pico SDK
      run: |
        git clone https://github.com/raspberrypi/pico-sdk.git
        cd pico-sdk
        git submodule update --init
        echo "PICO_SDK_PATH=$PWD" >> $GITHUB_ENV

    - name: Build Firmware
      run: |
        mkdir build
        cd build
        cmake ..
        make -j4

    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: my-fixed-firmware
        path: build/*.uf2
